PORT=3000

AZURE_CLIENT_ID=xxx
AZURE_CLIENT_SECRET=xxx
AZURE_TENANT_ID=xxx
REDIRECT_URI=http://localhost:3000/auth/callback

JWT_ACCESS_SECRET=super_long_access_secret
JWT_REFRESH_SECRET=super_long_refresh_secret

COOKIE_SECRET=super_cookie_secret